
body {
    background-color: rgb(201, 236, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer{
    left: 5px;
    right: 5px;
    bottom: 10px;
    height: 60px;
    text-align: center;
    font: 10px;
    color: black;
    background-color: rgb(106, 199, 202);
    position:fixed;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }